@media (max-width: 1400px){
    .promo{
        &__descr,
        &__video,
        &__youtube{
            width: auto;
        }
        &__movie,
        &__youtube{
            width: 450px;
        }
    }

    .statistic{
        &__wrapper{
            grid-template: minmax(150px, 1fr) / repeat(4, 1fr);
        }
    }
}

@media (max-width: 1199px){
    .header{
        margin-bottom: 70px;
    }
    .promo{
        &__header{
            font-size: 5rem;
        }
        &__descr,
        &__text{
            width: 400px;
            margin-right: 15px;
        }
    }

    .services{
        &__wrapper{
            grid-template: minmax(220px, 1fr) / repeat(3, 300px);
        }
    }

    .statistic{
        &__wrapper{
            grid-template: minmax(150px, 1fr) / repeat(4, 1fr);
        }
        &__text{
            font-size: 1.85rem;
        }
    }

    .about{
        &__header{
            font-size: 3rem;
        }
        &__text{
            margin-right: 20px;
            width: 300px;
        }
        &__descr{
            font-size: 1.6rem;
        }
        &__carousel-wrapper{
            width: 600px;
        }
    }
}

@media (max-width: 991px){

    .button__promo_video{
        display: inline-block;
    }

    .header{
        &__menu li{
            margin-right: 20px;
        }
    }
    .promo{
        &__wrapper{
            flex-direction: column;
        }
        &__video{
            display: none;
        }
        &__descr,
        &__text{
            width: auto;
        }
    }

    .services{
        &__wrapper{
            grid-template: minmax(220px, 1fr) / repeat(3, 240px);
        }
        &__title{
            margin-bottom: 3px;
        }
        &__descr{
            width: 200px;
            margin: 0 auto;
        }
    }

    .statistic{
        &__wrapper{
            grid-template: minmax(150px, 1fr) / repeat(4, 1fr);
        }
        &__img{
            margin-right: 5px;
            width: 47px;
            height: 45px;
        }
        &__text{
            font-size: 1.75rem;
        }
    }

    .favor{
        &__element{
            width: auto;
        }
    }

    .about{
        &__wrapper{
            flex-direction: column;
        }
        &__header br{
            display: none;
        }
        &__header{
            font-size: 3.4rem;
        }
        &__text{
            width: auto;
        }
        &__descr{
            margin-bottom: 30px;
            font-size: 2rem;
        }
        .button__about{
            margin-bottom: 15px;
        }
    }

    .team{
        &__carousel{
            width: auto;
            &-descr{
                width: 500px;
                margin: 0 auto;
            }
        }

        // .slick-current{
        //     width: auto;
        // }
        // .slic
    }
}

@media (max-width: 767px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        transform: translateY(-100%);
        transition: .5s all;
        &_active{
            transform: translateY(0%);
        }
        &__wrapper{
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: 100vh;
            
            padding-left: 10px;
            background-color: rgba($color: black, $alpha: 1);

        }
        &__menu{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 5px;
        }
        &__text{
            font-size: 2rem;

        }
        &__link{
            font-size: 2.1rem;
            &_active{
                color: $white;
            }
        }
        &__exit{
            display: block;
            position: absolute;
            color: $white;

            font-size: 11rem;
            top: 33px;
            right: 9px;
        }

        .button__header{
            width: 130px;
            height: 30px;
            font-size: 1.6rem;
        }
    }

    .promo{
        position: relative;
        min-height: 450px;
        .hamburger{
            position: fixed;
            top: 15px;
            right: 15px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 4;
            width: 50px;
            height: 30px;
            &__item{
                background-color: $white;
                margin-bottom: 5px;
                width: 100%;
                height: 5px;
                border-radius: 14px;
                transition: .3s all;
                &_active{
                    background-color: $main-color;
                }
            }
        }

        .button{
            &__promo{
                margin-right: 5px;
            }
        }
    }
    
    .services{
        &__subheader{
            width: auto;
        }
        &__wrapper{
            grid-template: repeat(3,minmax(150px, 1fr)) / 1fr;
        }
        &__item{
            display: flex;
            &-text__wrapper{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            &-img__wrapper{
                margin-right: 15px;
            }
        }
        &__descr{
            width: auto;
            text-align: left;
        }
    }
    .statistic{
        &__wrapper{
            grid-template: repeat(2,minmax(150px,1fr)) / repeat(2, 1fr);
        }
        &__text{
            font-size: 2rem;
        }
    }
    .favor{
        min-height: 750px;
        &__bottom{
            &-img{
                width: 200px;
                height: 90px;
            }
        }
        &__subheader{
            width: auto!important;
        }
    }
    .about{
        &__carousel{
            &-wrapper{
                width: 540px;
            }
            &-data{
                display: flex;
                flex-direction: column;
                padding: 0 3px;
                &__logo{
                    margin: 0px 9px;
                }
            }
        }
    }
    .team{
        .slick-dots{
            left: 40%;
        }
    }
    .contact{
        &__form,
        &__subheader{
            width: auto;
        }
        &__subheader br{
            display: none;
        }
        .form{
            &__header,
            &__subheader{
                input{
                    width: 230px;
                }
            }
        }
    }
    .footer{
        &__menu{
            &-link{
                margin-left: 10px;
            }
        }
    }
}

