.modal{
    // display: block;
    position: fixed;
    top: 0;


    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .4);
     transform: translateY(-100%);
    transition: .5s all;
    &_active{
        transform: translateY(0%);
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    &__login{
        display: none;
        min-height: 150px;
        width: 300px;
        border: 1px solid $modal;
        background-color: rgba($color: #000, $alpha: .7);
        overflow: visible;
        position: relative;
        &-exit{
            position: absolute;
            top: -36px;
            right: -30px;
            font-size: 5.5rem;
            color: $white;
            cursor: pointer;
        }
        &-header{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            &__log,
            &__reg{
                width: 50%;
                text-transform: uppercase;
                color: white;
                font-size: 1.5rem;
                font-weight: 400;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
            &__log{
                font-weight: 600;
                font-size: 1.8rem;
                background-color: #1de9b6;
            }
            &__reg{
                cursor: pointer;
                background-color: rgb(124, 124, 124);
            }

        }
        &-content{
            .wrapper{
                display: flex;
                flex-direction: column;
                input{
                    margin: 10px auto;
                    width: 70%;
                    height: 35px;
                    outline: none;
                    padding: 10px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(124, 124, 124);
                    border: 1px solid #1de9b6;
                    &:focus{
                        border: 2px solid #1de9b6;
                    }
                }
            }
        }
    }
    &__reg{
        display: none;
        min-height: 150px;
        width: 300px;
        border: 1px solid $modal;
        background-color: rgba($color: #000, $alpha: .7);
        position: relative;
        overflow: visible;
        &-exit{
            position: absolute;
            top: -36px;
            right: -30px;
            font-size: 5.5rem;
            color: $white;
            cursor: pointer;
        }
        &-header{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            &__log,
            &__reg{
                width: 50%;
                text-transform: uppercase;
                color: white;
                font-size: 1.5rem;
                font-weight: 400;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
            &__log{
                background-color: rgb(124, 124, 124);
                font-size: 1.5rem;
                font-weight: 400;
                cursor: pointer;
            }
            &__reg{
                font-weight: 600;
                font-size: 1.8rem;
                background-color: $modal;
            }

        }
        &-content{
            .wrapper{
                display: flex;
                flex-direction: column;
                input{
                    margin: 10px auto;
                    width: 70%;
                    height: 35px;
                    outline: none;
                    padding: 10px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(124, 124, 124);
                    border: 1px solid #1de9b6;
                    &:focus{
                        border: 2px solid #1de9b6;
                    }
                }
            }
        }
    }
    &__video{
        display: none;
        width: 650px;
        height: 90vh;
        position: relative;
        overflow: visible;

        &-exit{
            position: absolute;
            top: -36px;
            right: -30px;
            font-size: 6rem;
            color: $white;
            cursor: pointer;
        }
    }
    &__buy{
        display: none;
        min-height: 150px;
        width: 300px;
        border: 1px solid $modal;
        background-color: rgba($color: #000, $alpha: .7);
        padding: 5px;
        position: relative;
        &-header{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $white;
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.1;
            margin-bottom: 10px;
            &__price{
                font-size: 2.5rem;
            }
        }
        &-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            input{
                width: 100%;
                outline: none;
                font-weight: 700;
                height: 30px;
                padding: 10px;
                margin-bottom: 5px;
                font-size: 1.8rem;

            }
        }
        &-exit{
            position: absolute;
            top: -28px;
            right: 1px;
            font-size: 5.5rem;
            color: $white;
            cursor: pointer;
        }
    }
    &__try{
        display: none;

        min-height: 150px;
        width: 300px;
        border: 1px solid $modal;
        background-color: rgba($color: #000, $alpha: .7);
        padding: 5px;
        position: relative;
        &-header{
            text-align: center;
            font-size: 2rem;
            color: $white;
            text-transform: uppercase;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        &-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 100%;
                height: 30px;
                padding: 10px;
                outline: none;
                font-size: 1.9rem;
                font-weight: 600;
                margin-bottom: 5px;
                &:focus{
                    border: 1px solid #1de9b6;
                }
            }
        }
        &-exit{
            position: absolute;
            top: -35px;
            right: -30px;
            font-size: 5.5rem;
            color: $white;
            cursor: pointer;
        }
    }

}