.promo{
    min-height: 750px;
    background: url('../img/main_bg.png') center (center/cover) no-repeat;
    padding: 45px 0 0 0;

    .hamburger{
        display: none;
    }

    &__youtube{
        display: none;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header{
        color: $white;
        font-weight: 800;
        font-size: 5.5rem;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    &__descr{
        display: flex;
        flex-direction: column;
    }
    &__text{
        color: $white;
        font-size: 1.8rem;
        width: 600px;
        line-height: 1.7;
        margin-bottom: 37px;
    }

    &__movie{
        width: 600px;
        height: 320px;
        background: url('../img/video_bg.png') center (center/cover) no-repeat;
        position: relative;
        &-button{
            width: 70px;
            height: 65px;
            position: absolute;
            top: calc(50% - 32.5px);
            left: calc(50% - 35px);
            cursor: pointer;
            transition: .3s all;
            &:hover{
                transform: scale(1.1);
            }
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-descr{
            font-size: 1.4rem;
            font-weight: 700;
            color: $main-color;
            text-transform: uppercase;
            position: absolute;
            top: calc(50% + 32.5px);
            left: calc(50% - 60px);
        }
    }
}