@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'vars';

@import 'reboot.min.scss';
@import 'fonts';
@import 'button';

@import 'promo';
@import 'header';
@import 'services';
@import 'statistic';
@import 'favor';
@import 'about';
@import 'team';
@import 'contact';
@import 'footer';

html{
    font-size: 62.5%;
}

body{
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
}

.container{
    width: 1440px;
}

.title{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    color: $main-color;
    margin-bottom: 10px;
}
.subheaderR{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: $second;
    width: 560px;
    margin: 0 auto;
}

